body {
  margin: 0;
  font-family: 'Lobster', cursive;
  background: linear-gradient(to right,#976b79f8,#FEDEE8);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cardcolor {
  background-color: #f32b2b75;
}